# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.vscode
database/
credentials.json
token_sheets_v4.pickle
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
env

.DS_Store
configuration/.DS_Store
helpers/.DS_Store

*.exe

debug*